body{
    margin: 0;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header header'
                         'section section section section'
                         'footer footer footer footer';
    grid-template-rows: 20vh 30vh 60vh 40vh;
    grid-template-columns: 25% 25% 25% 25%;
}

nav{
    grid-area: nav;
    background-color: magenta;
}

nav #mobile{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #desktop{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-around;
}

nav #desktop a{
    text-decoration: none;
    color: limegreen;
    font-size: 20pt;
    font-weight: 800;
}

header{
    grid-area: header;
    background-image: url(img/bannerBatata.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    color: aquamarine;
    background-color: brown;
}

section{
    grid-area: section;
    background-color: limegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
}

section p{
    color: purple;
    font-size: 18pt;
    font-family: 'Barriecito', cursive;
}

footer{
    grid-area: footer;
    background-color: yellow;
}

@media(min-width: 768px){
    body{
        grid-template-areas: 'nav nav nav nav'
                            'header header section section'
                            'header header section section'
                            'footer footer footer footer';
    }
    nav #desktop{
        display: flex;
    }

    nav #mobile{
        display: none;
    }
}

@media(min-width: 1024px){
    body{
        grid-template-areas: 'nav nav section section'
                            'nav nav section section'
                            'header header footer footer'
                            'header header footer footer';
    }
}